@charset"UTF-8";
@import "compass";
$mainnavy: #252659;
$hovernavy: #4547A5;
$activenavy: #1A1B3F;
$mainorange: #F2B230;
$hoverorange: #FFC44C;
$activeorange: #D89F2B;
$backgroundblack: #303030;
$backgroundwhite: #fff;
$bonline: #E6E6E6;

body{
	width: 100%;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴシック", "Hiragino Kaku Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
#top{
	background-image: url(../images/top.JPG);
	background-size: cover;
}
#subtitle{
	font-size: 30px;
	padding: 18px 0 0 0;
	color: white;
	font-weight: 600;
	margin: 0px 40px 0px 27px;
	text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
#title{
	padding: 0;
	color: white;
	font-weight: 600;
	font-size: 55px;
	margin: 0px 0px 40px 27px;
	text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
#titext{
	font-size: 8px;
	margin: 0px 30px 0px 30px;
	padding-bottom: 10px;
	color: white;
	font-weight: 600;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.menu{
	padding: 0px;
	width: 100%;
	border-top: solid $bonline 1px;
	border-bottom: solid $bonline 1px;
	a{
		padding: 0;
	}
}
.menut1{
	width: 100%;
	height: 45px;
	background-color: $mainorange;
}
.menupic{
	height: 45px;
	float: left;
}
.menus{
	color: white;
	font-weight: 600;
	font-size: 20px;
	padding-top: 11px;
	text-align: left;
    margin-left: 90px;
}
.menuicon{
	transform: scale(2) translateY(-1px);
	position: relative !important;
	left: 10px;
}
