@charset"UTF-8";
@import "compass";
$mainnavy: #252659;
$hovernavy: #4547A5;
$activenavy: #1A1B3F;
$mainorange: #F2B230;
$hoverorange: #FFC44C;
$activeorange: #D89F2B;
$backgroundblack: #303030;
$backgroundwhite: #fff;
$bonline: #E6E6E6;
@font-face{
	font-family: mfont;
	src: url(mfffont.ttf);
}
body{
	width: 100%;
	font-family: "游ゴシック", "游ゴシック体", YuGothic, "ヒラギノ角ゴシック", "Hiragino Kaku Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif !important;
}
img{
	vertical-align: bottom;
}
#top{
	background-image: url(../images/top.JPG);
	background-size: cover;
}
#subtitle{
	font-size: 30px;
	padding: 18px 0 0 0;
	color: white;
	font-weight: 600;
	margin: 0px 40px 0px 27px;
	text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
#title{
	padding: 0;
	color: white;
	font-weight: 600;
	font-size: 55px;
	margin: 0px 0px 40px 27px;
	text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
#titext{
	font-size: 8px;
	margin: 0px 30px 0px 30px;
	padding-bottom: 10px;
	color: white;
	font-weight: 600;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.menu{
	padding: 0px;
	width: 100%;
	a{
		padding: 0;
	}
}
.menut1{
	width: 100%;
	height: 45px;
	background-color: $mainorange;
	border-top: solid $bonline 1px;
	border-bottom: solid $bonline 1px;
	z-index: 2;
}
.menut2{
	width: 100%;
	height: 45px;
	background-color: $mainnavy;
	border-top: solid $bonline 1px;
	border-bottom: solid $bonline 1px;
}
.menupic{
	height: 45px;
	float: left;
}
.menus{
	color: white;
	font-weight: 600;
	font-size: 18px;
	padding-top: 12px;
	text-align: left;
    margin-left: 20px;
    float: left;
}
#navbar{
	width: 100%;
	height: 50px;
	background-color: $mainnavy;
}
#syokai{
	width: 100%;
	height: 85px;
	background-color: $mainnavy;
}
#syot{
	font-weight: 600;
	color: white;
	text-align: center;
	padding-top: 20px;
	font-size: 21px;
}
.shpic{
	width: 33.3%
}
#con1{
	display: block;
	background-image: url(../images/con1.jpg);
	background-size: cover;
}
#con2{
	display: block;
	background-image: url(../images/con2.jpg);
	background-size: cover;
}
#con3{
	display: block;
	background-image: url(../images/con3.jpg);
	background-size: cover;
}
#con4{
	display: block;
	background-image: url(../images/con4.jpg);
	background-size: cover;
}
#con5{
	display: block;
	background-image: url(../images/con5.jpg);
	background-size: cover;
}
#con6{
	display: block;
	background-image: url(../images/con6.jpg);
	background-size: cover;
}
.contitle{
	text-align: center;
	font-weight: 600;
	padding-top: 10px;
	color: white;
	font-size: 24px;
}
.context{
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10px;
	color: white;
	padding-bottom: 30px;
	margin-bottom: 0px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
#footer{
	background-color: $mainorange;
}
#tel{
	padding-top: 20px;
	color: white;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	a{
		color: $mainnavy;
	}
}
#send{
	display: block;
	margin: 5px auto 9px auto;
	text-align: center;
	color: white;
	font-weight: 600;
	background-color: $mainnavy;
	width: 80px;
	height: 30px;
}
.navi{
	color: white;
	transform: scale(2);
}
#navicon{
	padding-top: 10px;
	text-align: right;
}
#info{
	margin-right: 20px;
	margin-left: 25px;
}